.StatusImage{
    padding: 0px 20px;
    
    
    
}
.StatusBar{
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    width: fit-content;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
